body{
    background-color: rgb(44, 189, 44);
    
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 2em auto 0;
    padding: 1em;
    width:45%;
}

.corp   {
    color: rgb(31, 20, 185);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: xx-large;
    text-align: center;
}

p {
    text-align: center;
}

.contenairs  {
    font-size: large;

}

.AB {
    margin-left: 0%;
}

h3{
    font-size: x-large;
}